
@{
    ViewBag.Title = "Productos";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header text-center">
            Productos
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <span class="input-group-addon" id="seachProduct">Búsqueda</span>
            <input type="text" class="form-control" ng-model="seachProduct" placeholder="Búsqueda de producto" aria-describedby="seachProduct">
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <a href="#" class="btn btn-primary">Nuevo Producto</a>
    </div>
</div>
<div class="row" ng-controller="ProductsCtrl">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-hover" ng-init="init()">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Categoría</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products | filter: seachProduct">
                        <td>{{product.Nombre}}</td>
                        <td>{{product.Descripcion}}</td>
                        <td>{{product.Cantidad}}</td>
                        <td>{{product.Categoria}}</td>
                        <td>
                            <a href="#" class="btn btn-success">Editar</a>
                            <a href="#" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 text-center" ng-show="products.length > 9">
        <button class="btn btn-info" ng-click="previousProducts()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            Anterior
        </button>
        <span>{{position/10}} / {{products.length/10 | roundUp}}</span>
        <button class="btn btn-info" ng-click="nextProducts()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            Siguiente
        </button>
    </div>
    <div class="col-lg-12 text-center">
        <label>{{products.length}} productos</label>
    </div>
</div>